<!doctype HTML>
<html>
  <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
  <script>


  </script>

  <style>
  .arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
  }
  </style>

  <body style="margin : 0px; overflow: hidden;">
  <!-- minimal loader shown until image descriptors are loaded -->
  <!-- <div class="arjs-loader">
    <div>Loading, please wait...</div>
  </div> -->
  <a-scene
  >
    <a-entity id="stock-card" position="0.3 1.7 -1"
    geometry="primitive: plane; width: 0.3; height: 0.3"
    material="color: green;"
    text="font:kelsonsans; width:0.5; value:Company \n\n $0.00 \n\n - $1.64 (0.53%) Today \n\n -$0.37 (0.12%) After Hours; color: #212121; align: center;"
    >


    </a-entity>

    <!-- <a-entity camera></a-entity> -->
  </a-scene>
  </body>
</html>